body{
    font-family: Arial, Helvetica, sans-serif;
    color: rebeccapurple;
}
.gameimage{
    height: 800px;
    width: 900px;
    margin: auto;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.header {
    text-align: center;
}

footer{
    text-align: center;
}

#failImg {
    height: inherit;
    width: inherit;
}